*{box-sizing: border-box}

body{
  margin: 0;
  font-family: Arial;
  background-color: #fff;
  color: #444;
}
.header{
  padding: 60px;
  text-align: center;
  background-color: darkblue;
  color: #f1f1f1;
}
.header h1{
  font-weight: 100;
  font-size: 50px;
}

.result{
  padding: 24px;
  text-align: center;
  font-size: 30px;
  border-bottom: 4px solid darkblue; 
}
.result span {
  color: darkblue;
  padding: 0 30px ;
  font-size: 70px; 
}

.d-none{
  display: none;
}

.row{
  padding: 48px 124px;
  font-size: 18px;  
}

.title-question{
  color: darkblue;
  font-size: 38px;
  font-weight: 100;
}
.question{
  margin: 55px 0;
}

.question p{
  margin: 24px 0;
  font-weight: bold;
  font-size: 24px;
}

.options{
  margin: 16px 0;
}

.btn-go-ninja{
  text-align: center;
  margin: 24px 0;
}
.btn-go-ninja input{
  display: inline-block;
  border: 2px solid darkblue;
  background-color: #fff;
  color: darkblue;
  padding: 14px 58px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 19px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.3s; 
}
.btn-go-ninja input:hover{
  background-color: darkblue;
  color: #fff;
}